version: '3.1'

services:
  nginx:
    container_name: openresty
    build: .
    restart: always
    network_mode: "host"
    environment:
      SMTP_SERVER: ${SMTP_SERVER}
      SMTP_USER: ${SMTP_USER}
      SMTP_TO: ${SMTP_TO}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      SMTP_FROM: ${SMTP_FROM}
      TMP_SERVER_URL: ${TMP_SERVER_URL}
      MSA_SERVER_URL: ${MSA_SERVER_URL}
    ports:
      - 8181:80
    volumes:
      - ./data/msa:/usr/share/nginx/html/msa
      - ./data/files:/files
      - ./data/labs:/labs
      - ./lua:/lua:ro
      - ./logs:/usr/local/openresty/nginx/logs
      - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      #- ./nginx.conf:/etc/nginx/conf.d/default.conf:ro\

